.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.container {
  width: 25%;
  height: 60%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 1rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.icon {
  color: #007aff;
  font-size: 2rem;
  padding: 1rem;
  background-color: #f0f7ff;
  border-radius: 10px;
}

.title {
  display: flex;
  color: #111827;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 2rem;
  font-size: 1.6rem;
  letter-spacing: -0.025em;
}

.subtext {
  color: #6b7280;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}
