.pass {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.passHeader {
  top: 0;
  gap: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem 0 0.8rem 0;
}

.logo {
  font-size: 2rem;
  background-color: #007aff;
  color: #fff;
  padding: 0.5rem;
  border-radius: 100%;
}

.passTitle {
  font-size: 2rem;
}

.passContainer {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 2rem;
  box-shadow: 0 0 20px rgb(0, 122, 255, 0.3);
  border-radius: 30px;
}
.date {
  display: flex;
  justify-content: space-between;
}
.infoLabel {
  color: #007aff;
}
.date {
  font-size: 1rem;
}

h2 {
  margin: 0;
}

.destination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.destination p {
  margin: 0;
  color: #5f656b;
}

.destination h1 {
  margin: 0;
}

.plane {
  border-top: 1px solid black;
  width: 60%;
  position: relative;
}

.planeComp {
  /* background-color: #fff; */
  /* box-shadow: 0px 0px 3px rgb(0, 0, 0, 0.3); */
  height: auto;
  width: auto;
  padding: 0.7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  color: #007aff;
  border-radius: 30px;
}

.planeIcn {
  font-size: 2rem;
}

.airportInfo {
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to right, #e5eaf0 50%, transparent 50%);
  background-position: bottom;
  background-size: 20px 2px;
  background-repeat: repeat-x;
}

.infomationsLabel {
  color: #64748b;
}
.infomationsData {
  color: #000;
  font-weight: bold;
}

.mainPass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.names {
  margin-top: 1rem;
}

.status {
  color: #64748b;
}

.name {
  color: #000;
  font-weight: bold;
}

.code {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: max-content;
  height: auto;
  min-height: 220px;
  border-radius: 30px;
  background-repeat: no-repeat;
  border: 2px solid #007aff;
}

.security {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  padding: 0 0.8rem;
  border-radius: 30px;
  background-color: #ecfdf5;
  color: #07976a;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .passContainer {
    width: 75%;
  }
}
